@import url("https://fonts.googleapis.com/css?family=Tangerine");

@tailwind base;
@tailwind components;
@tailwind utilities;

main {
    max-width: 1280px;
    margin: auto;
    min-height: 90vh;
    padding: 10px;
}